.resolucion{
    width: 99%;
    text-align: center;
}

@media (max-width: 767px){
    .dekstop{
        display: none;
    }
    .tablet{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    .dekstop{
        display: none;
    }
    .telefono{
        display: none;
    }
}

@media (min-width: 991px){
    .tablet{
        display: none;
    }
    .telefono{
        display: none;
    }
}

.formato-1{
    display:flex;
    justify-content: space-between;
}

.imagen-1{
    width: 200px;
    height: 150px;
}

.imagen-2{
    width: 200px;
    height: 150px;
}

.imagen-3{
    width: 300px;
    height: 200px;
}

.imagen-4{
    width: 300px;
    height: 200px;
}

.imagen-5{
    width: 300px;
    height: 200px;
}

.imagen-6{
    width: 300px;
    height: 200px;
}

.imagen-7{
    width: 300px;
    height: 200px;
}

.imagen-8{
    width: 300px;
    height: 200px;
}

.imagen-9{
    width: 300px;
    height: 200px;
}

.imagen-10{
    width: 300px;
    height: 200px;
}

.imagen-11{
    width: 300px;
    height: 200px;
}

.imagen-12{
    width: 300px;
    height: 200px;
}

.imagen-13{
    width: 300px;
    height: 200px;
}

.imagen-14{
    width: 300px;
    height: 200px;
}

.imagen-15{
    width: 300px;
    height: 200px;
}

.imagen-16{
    width: 300px;
    height: 200px;
}

.imagen-17{
    width: 300px;
    height: 200px;
}

.imagen-18{
    width: 300px;
    height: 200px;
}

.imagen-19{
    width: 300px;
    height: 200px;
}

.imagen-20{
    width: 300px;
    height: 200px;
}

.imagen-21{
    width: 300px;
    height: 200px;
}

.imagen-22{
    width: 300px;
    height: 200px;
}


body{
    background-image: linear-gradient(to top right, rgb(235, 235, 235), rgb(202, 16, 47) 50%, rgb(14, 3, 3));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}