resolucion{
    width: 99%;
    text-align: center;
}

@media (max-width: 767px){
    .dekstop{
        display: none;
    }
    .tablet{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 990px){
    .dekstop{
        display: none;
    }
    .telefono{
        display: none;
    }
}

@media (min-width: 991px){
    .tablet{
        display: none;
    }
    .telefono{
        display: none;
    }
}

.formato-1{
    display:flex;
    justify-content: space-between;
}

.imagen-1{
    width: 200px;
    height: 150px;
}

.imagen-2{
    width: 200px;
    height: 200px;
}


body{
background-image: linear-gradient(to top right, blue, purple 50%, white);
background-size: cover;
background-position: center;
background-attachment: fixed;
}